<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>影厅管理</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" >
    <script src="/static/script/jquery-1.7.2.js"></script>
    <script>
        $(function (){
            $(".delete_btn").click(function (){
                var name =  $(this).attr("id");
                alert("确定要删除影厅【"+name+"】吗？")
            })
        })
    </script>
</head>
<body>

    <span id="head">
        <img class="logo_img" alt="" src="/static/img/logo.jpg" >

        <div id="manageHead">
            <table id="manageTab" >
                <tr>
                    <td>
                        <a href="/manage" >电影管理</a>&nbsp;&nbsp;
                    </td>
                    <td>
                        <a href="/manageTime" >场次管理</a>
                    </td>
                    <td id="now">影厅管理</td>
                     <td>
                        <a href="/cinemaLogout" >退出管理</a>&nbsp;&nbsp;
                    </td>

                </tr>
            </table>
        </div>
         <div id="manageTitle"><br>{{.CinemaName}}后台管理</div>
    </span>

    <div id="addTime" >
        <a href="/toModifyRoom"><input type="submit" name="addRoom" value="添      加" class="add_btn"></a>
    </div>

    <div id="timeList2">
        <hr color="lightgrey">
        <div id="listTitle" class="listHeight">
            <div class="tabCon"><b>放映厅</b></div>
            <div class="tabCon"><b>座位行数</b></div>
            <div class="tabCon"><b>座位列数</b></div>
            <div class="tabCon"><b>座位总数</b></div>
            <div class="tabCon"><b>操作</b></div>
        </div>
        <hr color="lightgrey">

        {{range .Rooms}}
        <div class="listHeight1">
            <div class="tabCon1">{{.Name}}</div>
            <div class="tabCon1">{{.Row}}</div>
            <div class="tabCon1">{{.Column}}</div>
            <div class="price1" >{{.GetSeatCount}}</div>
            <table class="timeTab" >
                <tr>
                    <td>
                        <div class="btn1">
                            <a href="/toModifyRoom?roomId={{.ID}}"><input type="submit" name="modifyTime" value="修      改" class="modify_btn"></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btn1">
                            <a href="/deleteRoom?roomId={{.ID}}"><input type="submit" name="deleteTime" value="删      除" class="delete_btn" id="{{.Name}}"></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <hr color="lightgrey">
        {{end}}

<!--        <div class="listHeight1">-->
<!--            <div class="tabCon1">1号激光厅</div>-->
<!--            <div class="tabCon1">5</div>-->
<!--            <div class="tabCon1">8</div>-->
<!--            <div class="price1" >40</div>-->
<!--            <table class="timeTab" >-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <div class="btn1">-->
<!--                            <a href="/modifyRoom"><input type="submit" name="modifyRoom" value="修      改" class="modify_btn"></a>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <div class="btn1">-->
<!--                            <a href="/manageRoom"><input type="submit" name="deleteRoom" value="删      除" class="delete_btn"></a>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
<!--        <hr color="lightgrey">-->
<!--    </div>-->



    <br><br><br>

    <div id="bottom">
        <span>
            启程电影.Copyright &copy;2023
        </span>
    </div>
    <br><br>

</body>
</html>