<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录成功</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" >
    <script type="text/javascript" src="/static/script/jquery-1.7.2.js"></script>
</head>
<body>

      <div >
        <img class="logo_img" alt="" style="height: 175px;width: 450px" src="/static/img/logo.jpg" >
      </div>
      <div class="wel">欢迎用户{{.Username}}</div>
      <div id="loginForm">
          <div style="font-size: 25px;margin-top: 100px">&nbsp;&nbsp;登录成功！</div>
          <div  style="font-size: 25px;margin-top: 30px">
              <a href="/main" class="return">返回首页</a>
          </div>
      </div>

      <div id="bottom1">
            <span>
                启程电影.Copyright &copy;2023
            </span>
      </div>
      <br><br>


</body>
</html>