<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" >
    <script type="text/javascript" src="/static/script/jquery-1.7.2.js"></script>
    <script>
        //相当于window.onlaod = function(){};
        $(function(){
            //给登录按钮绑定单击事件
            $("#sub_btn").click(function(){
                //获取用户输入的用户名
                var username = $("#username").val();
                //判断用户名是否为空
                if(username == ""){
                    alert("用户名不能为空！");
                    //取消默认行为
                    return false;
                }
                //获取用户输入的密码
                var password = $("#password").val();
                if(password == ""){
                    alert("密码不能为空！");
                    return false;
                }
            });
            //切换span标签中的信息
            if("{{.}}"=="用户名或密码不正确！"){
                //设置span标签中的文本值
                $("#msg").text("用户名或密码不正确！");
            }
        });
    </script>
</head>

<body>
    <div >
        <img class="logo_img" alt="" style="height: 175px;width: 450px" src="/static/img/logo.jpg" >
    </div>
    <div class="wel">欢迎登录</div>
   <div id="loginForm">
       <div >
           <a href="/main" class="titl">< 返回首页</a>
           <a href="/pages/user/register.html" class="titr">立即注册</a>
       </div>
       <br><br>
       <div id="msg">

           <span>&nbsp;&nbsp;&nbsp;&nbsp;请输入用户名和密码</span>
       </div>
       <br>
       <div class="form">
           <form action="/login" method="post">
               <label>用户名称：</label>
               <input class="itxt" type="text" placeholder="请输入用户名" autocomplete="off" tabindex="1" name="username" />
               <br />
               <br />
               <br>
               <label>用户密码：</label>
               <input class="itxt" type="password" placeholder="请输入密码" autocomplete="off" tabindex="1" name="password" />
               <br />
               <br />
               <br /><br>
               <input type="submit" value="登    录" id="sub_btn" />
           </form>
       </div>
   </div>



    <div id="bottom1">
        <span>
            启程电影.Copyright &copy;2023
        </span>
    </div>
    <br><br>


</body>
</html>