<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" >
    <script src="/static/script/jquery-1.7.2.js"></script>

</head>

<body>

    <span id="header">
        <img class="logo_img" alt="" src="/static/img/logo.jpg" >

        <div >
            <table id="tab" >
                <tr>
                   <td >
                        <a href="/main">首页</a>
                    </td>
                    <td >
                        <a href="/movies?type=0" >电影</a>&nbsp;&nbsp;
                    </td>
                    <td>
                        <a href="/rank?rankType=0" >榜单</a>&nbsp;&nbsp;
                    </td>

                    <td colspan="2">
                         <form action="/searchRes" method="post">
                            <input type="text" name="search" placeholder="请输入关键字" id="search">
                            <input type="button" value="搜索" id="btn">
                             <!--                             绑定单击事件-->
                         </form>
                    </td>
                     <td id="now">
                        我的订单
                    </td>
                     <td >
                        <a href="/logout">退出登录</a>
                    </td>
                    <td >
                        <a href="/pages/manager/checkKey.html" >后台管理</a>
                    </td>
                </tr>
            </table>
        </div>
    </span>

    <div id="return"><a href="/getMyOrder">< 返回</a></div>

    <div id="detailDiv">
        {{range .}}
        <div >
            <table class="detailTab">
                <tr class="tr1">
                    <td >
                        <span >
                            <div class="detail">影片名：{{.MovieName}}</div>
                            <div class="detail">时长：{{.TimeLong}}分钟</div>
                            <div class="detail">放映日期：{{.Date}}</div>
                            <div class="detail">开始时间：{{.StartTime}}</div>
                            <div class="detail">结束时间：{{.EndTime}}</div>
                        </span>
                    </td>
                    <td >
                    <span class="rInfo">
                        <div class="detail">影院：{{.Cinema}}</div>
                        <div class="detail">影厅：{{.Room}}</div>
                        <div class="detail">座位：{{.Row}}排{{.Column}}列</div>
                        <div class="detail">价格：￥{{.Price}}元</div>
                    </span>
                    </td>
                </tr>
            </table>
        </div>
        {{end}}
<!--        <div >-->
<!--            <table class="detailTab">-->
<!--                <tr class="tr1">-->
<!--                    <td >-->
<!--                    <span >-->
<!--                        <div class="detail">影片名：长安三万里</div>-->
<!--                        <div class="detail">时长：186分钟</div>-->
<!--                        <div class="detail">放映日期：2023-8-10</div>-->
<!--                        <div class="detail">开始时间：10：30</div>-->
<!--                        <div class="detail">结束时间：12：00</div>-->
<!--                    </span>-->
<!--                    </td>-->
<!--                    <td >-->
<!--                    <span class="rInfo">-->
<!--                        <div class="detail">影院：MG影城</div>-->
<!--                        <div class="detail">影厅：1号激光厅</div>-->
<!--                        <div class="detail">座位：1排1列</div>-->
<!--                        <div class="detail">价格：￥30元</div>-->
<!--                    </span>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
    </div>



    <br><br><br><br>

    <div id="bottom">
            <span>
                启程电影.Copyright &copy;2023
            </span>
    </div>
    <br><br>

</body>
</html>